body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ededed;
  padding-bottom:100px;
}

@media (min-width: 992px){
  .container-fluid{
    padding:0 60px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.loginForm {
   width:500px;
   margin: 0 auto;
}

.header{
  width:500px;
  margin: 0 auto;
}

.CvNav{
  width:500px;
  margin: 0 auto;
}

/* PAPER */

.paper{
  background-color:#fff;
  color:rgba(0, 0, 0, 0.87);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 2px;
  border-left:10px solid #F2A200;
}
.paper.nb{
  border-left:none;
}

/* Paper Form */

.paperForm .paper{
  padding:15px 0;
  overflow:hidden;
}

/* helper classes */

.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}

.pd10{padding:10px;}
.pd15{padding:15px !important;}
.pd30{padding:30px;}

/* color */

.tWhite{color:#fff}

.bgCherry{
  background-color:#E31937;
}
.bgBeet{
  background-color: #991F3D;
}
.bgHoney{
  background-color: #F2A200;
}

/* typography */

h1,h2,h3,h4,h5,h6{
  margin:0;
}

/* appBar */

#appBar .tabs{
  margin-bottom: 50px;
}

/* Accordion */

.accordion{
}

.accordion .accordionHeader {
  display: block;
  background-color: #fff;
  color:#333;
  text-decoration: none;
  padding:15px;
  border-left: 10px solid #991F3D;
}
.accordion .accordionHeader:hover,
.accordion .accordionHeader:focus{  
  background-color:#fff !important;
  color:#333;
}

.accordion .accordionHeader .title{
  font-size:18px;
}

.accordion .accordionContent .accordionBody{
  padding:15px 25px;
  margin: 15px 0;
}

/* Nav */

.nav-vertical .nav-tabs{
}
.nav-vertical .nav-tabs{
  background:#E31937;
  padding:15px 0;
  border-radius: 2px;
}
.nav-vertical .nav-tabs li{
  display:block;
  width:100%;
}
.nav-vertical .nav-tabs>li>a,
.nav-vertical .nav-tabs>li.active>a,
.nav-vertical .nav-tabs>li>a:hover,
.nav-vertical .nav-tabs>li>a:focus{
  color:#fff;
  width:100%;
  background:transparent;
  border:none;
  border-radius:0;
}
.nav-vertical .nav-tabs>li.active>a {
  background-color:#F2A200;
}
.nav-vertical .nav-tabs>li>a:hover{
  background:rgba(255,255,255,0.1)
}

/* Table Basic */

.table.table-basic thead{
  background: #E31937;
  color:#fff;
}
.table.table-basic th{
  border-color:#F2A200;

}
.table.table-basic td{
  border-bottom:1px solid #ccc;
}

/* PAGES */

/* CV Edit page Begins */

.EditCVPage{

  /* width:500px; */
  margin: 0 auto;


}

/* CV Edit page Ends */

/* CV View page */

.viewCvPage .leftDetail{

}


/* CV Search Page */

.CvSearchResults{
  
}
