body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ededed;
}

@media (min-width: 992px){
  .container-fluid{
    padding:0 60px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header{
  width:500px;
  margin: 0 auto;
}

.CvNav{
  width:500px;
  margin: 0 auto;
}

/* PAPER */

.paper{
  background-color:#fff;
  color:rgba(0, 0, 0, 0.87);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 2px;
  border-left:10px solid #F2A200;
}
.paper.nb{
  border-left:none;
}

/* Paper Form */

.paperForm .paper{
  padding:15px 0;
  overflow:hidden;
}

/* helper classes */

.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}

.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}

.pd10{padding:10px;}
.pd15{padding:15px !important;}
.pd30{padding:30px;}

/* color */

.tWhite{color:#fff}

.bgCherry{
  background-color:#E31937;
}
.bgBeet{
  background-color: #991F3D;
}
.bgHoney{
  background-color: #F2A200;
}

/* typography */

h1,h2,h3,h4,h5,h6{
  margin:0;
}
h1{
  font-size:27px;
}
h2{
  font-size:25px;
}
h3{
  font-size:22px;
}
p{
  font-size:14px
}
.subHeader{
  opacity: 0.9;
  text-transform: uppercase;
  font-size:16px;
  font-weight: 800;
}

@media (max-width:768px){
  h1{font-size:22px;}
  h2{font-size:20px;}
  h3{font-size:18px}
  h4{font-size:16px}  
  p{font-size:12px;}
}

/* links */

a,a:hover,a:focus{
  color:#E31937;
}

/* appBar */

#appBar .tabs{
}

/* Tabs */

.tabsWhite{
  background-color:#fff !important;
}

/* Col */

.col{
  padding:0 15px;
  float:left;
}

/* Accordion */

.accordion{
}

.accordion .accordionHeader {
  display: block;
  background-color: #fff;
  color:#333;
  text-decoration: none;
  padding:15px;
  border-left: 10px solid #991F3D;
}
.accordion .accordionHeader:hover,
.accordion .accordionHeader:focus{  
  background-color:#fff !important;
  color:#333;
}

.accordion .accordionHeader .title{
  font-size:18px;
}

.accordion .accordionContent .accordionBody{
  padding:15px 25px;
  margin: 15px 0;
}

/* Nav */

.nav-tabs{
  margin-bottom:15px;
  background:#E31937;
  border-radius: 2px;
}
.nav-tabs>li{
  margin-bottom:0;
}

.nav-tabs>li>a,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus,
.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus{
  color:#fff;
  border-radius: 0;
  border:none;
  cursor:pointer;
}
.nav-tabs>li>a:hover{
  background:rgba(255,255,255,0.1)
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus{
  background:#F2A200;
}

.nav-vertical .nav-tabs{
}
.nav-vertical .nav-tabs{
  padding:15px 0;
  border-radius: 2px;
}
.nav-vertical .nav-tabs li{
  display:block;
  width:100%;
}
.nav-vertical .nav-tabs>li>a,
.nav-vertical .nav-tabs>li.active>a,
.nav-vertical .nav-tabs>li>a:hover,
.nav-vertical .nav-tabs>li>a:focus{
  color:#fff;
  width:100%;
  background:transparent;
  border:none;
  border-radius:0;
}
.nav-vertical .nav-tabs>li>a:hover{
  background:rgba(255,255,255,0.1)
}
.nav-vertical .nav-tabs>li.active>a {
  background-color:#F2A200;
}

@media (max-width:768px){
  .nav-tabs{
    margin-bottom:15px;
    background:transparent;
    border-radius: 2px;
  }
  .nav-vertical .nav-tabs{
    padding:0;
    border-radius: 2px;
    border-bottom:0;
  }
  .nav-vertical .nav-tabs li{
    display:inline-block;
    width:auto; 
  }
  .nav-tabs>li>a, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus{
    background-color:#E31937 !important; 
    margin:2px;
  }
  .nav-tabs>li.active>a{
    background:#F2A200 !important;
    margin:2px;
  }
}

/* Table */

.table.table-basic {
  background-color:#fff;  
}
.table.table-basic thead{
  color:#333;
}
.table.table-basic th{
  border-color:#991F3D;

}
.table.table-basic td{
  border-bottom:1px solid #ccc;
}

.table.table-cherry {
  background-color:#fff;  
}
.table.table-cherry thead{
  background: #E31937;
  color:#fff;
}
.table.table-cherry th{
  border-color:#F2A200;

}
.table.table-cherry td{
  border-bottom:1px solid #ccc;
}

/* PAGES */


.editCvPage,
.viewCvPage{
  margin-top:50px; 
}

@media (max-width:768px){
  .editCvPage,
  .viewCvPage{
    margin-top:25px; 
  }
}

/* Login */
.loginPage{
  display: table;
  height:100vh;
  width:100%;
  text-align:center;
}
.loginPage > div{
  display: table-cell;
  vertical-align: middle;
}

.loginPage .paper{
  display: inline-block;
  padding:25px 35px;
  text-align: left;
}

/* CV Header */
.cvHeader{
  position: relative;
  border-left:75px solid #E31937;
  min-height:75px;
}
.cvHeader .headerIcon{
  position: absolute;
  z-index: 100;
  top:0;
  left:-75px;
  line-height: 75px;
  width:75px;
  font-size:38px;
  text-align: center;
  color:#fff;
  margin-right:15px;
}

@media (max-width:768px){
  .cvHeader{
    border-left:50px solid #E31937;
  }
  .cvHeader .headerIcon{
    left:-50px;
    width:50px;
    line-height:50px;
    font-size:25px;
  }
}

/* CV Edit Page */
.editCvPage .editRow{
  padding: 5px 15px;
}
.editCvPage .editRow + .editRow{
  border-top: 1px solid #ccc;
}
.editCvPage .editRow .deleteActionButton{
  margin-top:20px;
  display: inline-block;
  color:#fff;
  background-color: #E31937;
  cursor: pointer;
  font-size:25px;
  line-height:40px;
  width:40px;
  text-align:center;
  border-radius: 2em;
}
.editCvPage .editCol{
  padding:0 15px;
}
/* CV View page */

.viewCvPage .tableToggle{
  float: right;
}
.viewCvPage .tableToggle[aria-expanded=false] .fa{
  transform: rotate(-90deg)
}

.viewCvPage #InfoTable table td,
.viewCvPage .infoTable th{
  border-top:none;
  border-bottom: 1px solid #ccc
}
.viewCvPage #InfoTable table th{
  color:#E31937;
}

@media (max-width:768px){
  .viewCvPage .nav-tabs{
    margin-top:20px;
  }

  .viewCvPage .tab-content .tab-header{
    display: none;
  }
}

/* CV Search Page */

.searchCvPage .searchFilter{
  background-color:#991F3D;
  color:#fff;
  padding:15px;
  margin-bottom: 30px;
}
