body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ededed;
}

@media (min-width: 992px){
  .container-fluid{
    padding:0 60px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header{
  width:500px;
  margin: 0 auto;
}

.CvNav{
  width:500px;
  margin: 0 auto;
}

/* App Bar */

#appBar{
  color: #E31937;
  background-color: #fff;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 0px;
  position: relative;
  z-index: 1100;
  width: 100%;
  border-top:5px solid #E31937;
  margin-bottom:20px;
}
#appBar .appBarLogo{
  float:left;
  height:64px;
}
#appBar .appBarTitle{
  float:left;
  font-size:18px;
  line-height:1;
  margin-top:32px;
  vertical-align: bottom;
  color:#991F3D;
  font-weight: 700;
}
/* ul nav */
#appBar ul#nav{
  float:right;
  list-style: none;
  padding:0;
  margin:0;
}
#appBar ul#nav > li{
  float: left;
  display: block;
}
#appBar ul#nav > li > a{
  display: inline-block;
  padding:0 15px;
  margin:15px 5px;
  color:#991F3D;
  line-height:34px;
  text-decoration:none;
}
#appBar ul#nav > li.dropdown .dropdown-user-detail{
  padding: 5px 20px;
}
#appBar ul#nav > li.dropdown .dropdown-user-detail .name{
  font-size:18px;
  font-weight: 800;
  text-transform: capitalize;
  color:#333;
}
#appBar ul#nav > li.dropdown > .dropdown-menu > li > a{
  padding: 5px 20px;
}
/* nav */
#appBar nav{
  float:right;
}
#appBar nav > a{
  display: inline-block;
  padding:0 15px;
  margin:15px 5px;
  color:#991F3D;
  line-height:34px;
  text-decoration:none;
}
#appBar nav > a + a{
}
#appBar nav > a:hover{
}
#appBar nav > a i.fa{
  font-size:1.5em;
  line-height: 34px;
  vertical-align: middle;
}

@media (max-width:768px){
  #appBar .appBarLogo{
    display: block;
    float: none;
    margin:auto;
    height:50px;
  }
  #appBar .appBarTitle{
    margin:0;
    width:100%;
    text-align: center;

  }
  #appBar nav{
    width:100%;
  }
  #appBar nav > a{
    display: block;
    width:33.3333%;
    float:left;
    margin:0;
    text-align:center;
    padding:10px;
  }
}

/* Footer */

footer{
  padding:20px 0 30px;
  margin: 50px 0 0;
  background:#991F3D;
  color:#fff;
}

/* PAPER */

.paper{
  background-color:#fff;
  color:rgba(0, 0, 0, 0.87);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 2px;
}
.paper.nb{
  border-left:none;
}

/* helper classes */

.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}

.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}

.pd10{padding:10px;}
.pd15{padding:15px !important;}
.pd30{padding:30px;}

/* color */

.tWhite{color:#fff}
.tGreen{color:rgb(39, 168, 39)}

.bgCherry{
  background-color:#E31937;
}
.bgBeet{
  background-color: #991F3D;
}
.bgHoney{
  background-color: #F2A200;
}

/* typography */

h1,h2,h3,h4,h5,h6{
  margin:0;
}
h1{
  font-size:27px;
}
h2{
  font-size:25px;
}
h3{
  font-size:22px;
}
p{
  font-size:14px
}
.subHeader{
  opacity: 0.9;
  text-transform: uppercase;
  font-size:16px;
  font-weight: 800;
}

@media (max-width:768px){
  h1{font-size:22px;}
  h2{font-size:20px;}
  h3{font-size:18px}
  h4{font-size:16px}
  p{font-size:12px;}
}

/* paper form inline */

.formInline.paper{
  position: relative;
  margin: 15px 0;
}
.formInline.paper .searchButtons{
  position: absolute;
  top:50%;
  right:10px;
  transform: translate(0,-50%);
}
.formInline.paper .searchButtons a,
.formInline.paper .searchButtons button{
  display: inline-block;
  background:none;
  border:none;
  padding:0 10px;
  cursor:pointer;
  color:#555;
  vertical-align: middle;
}


/* alt input */

input.altInput,
.altInput input{
  padding: 7px 10px !important;
  background-color: #fafafa!important;
  border: 1px solid #e3e3e3 !important;
  border-radius: 4px !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05) !important;
  transition: border-color 0.3s;
  line-height: 1.5 !important
}

/* badge */

.badge a{
  color:#fff;
  margin-left:5px;
  cursor:pointer;
}
.badge a:hover{
  color:#f7f7f7;
}

/* links */

a,a:hover,a:focus{
  color:#E31937;
}

/* appBar */

#appBar .tabs{
}

/* Tabs */

.tabsWhite{
  background-color:#fff !important;
}

/* Col */

.col{
  padding:0 15px;
  float:left;
}

/* Accordion */

.accordion{
}

.accordion .accordionHeader {
  display: block;
  background-color: #fff;
  color:#333;
  text-decoration: none;
  padding:15px;
  border-left: 10px solid #991F3D;
}
.accordion .accordionHeader:hover,
.accordion .accordionHeader:focus{
  background-color:#fff !important;
  color:#333;
}

.accordion .accordionHeader .title{
  font-size:18px;
}

.accordion .accordionContent .accordionBody{
  padding:15px 25px;
  margin: 15px 0;
}

/* Nav */

.nav-tabs{
  margin-bottom:15px;
  background:#fff;
  border-radius: 2px;
  border:0;
}
.nav-tabs>li{
  margin-bottom:0;
}

.nav-tabs>li>a,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus,
.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus{ 
  color:#333;
  border-radius: 0;
  border:none;
  cursor:pointer;
  border-bottom:2px solid transparent;
  background:transparent;
  margin:0;
  padding:  18px 15px 10px;
}
.nav-tabs>li>a:hover,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus{
  color:#E31937;
  border-bottom:2px solid #E31937;
}
.nav-vertical .nav-tabs{
  background-color:#E31937;
  padding:15px 0;
  border-radius: 2px;
}
.nav-vertical .nav-tabs li{
  display:block;
  width:100%;
}
.nav-vertical .nav-tabs>li>a,
.nav-vertical .nav-tabs>li.active>a,
.nav-vertical .nav-tabs>li>a:hover,
.nav-vertical .nav-tabs>li>a:focus{
  color:#fff;
  width:100%;
  background:transparent;
  border:none;
  border-radius:0;
}
.nav-vertical .nav-tabs>li>a:hover{
  background:rgba(255,255,255,0.1)
}
.nav-vertical .nav-tabs>li.active>a {
  background-color:#F2A200;
}

/* nav inner */

.nav-inner .tab-content{
  border:1px solid #ccc;
  padding:15px;
}
.nav-inner .nav-tabs{
  margin:0;
  border-bottom:0;
  background:transparent;
}
.nav-inner .nav-tabs>li{
  margin-bottom:-1px;
}
.nav-inner .nav-tabs>li>a,
.nav-inner .nav-tabs>li.active>a,
.nav-inner .nav-tabs>li>a:hover,
.nav-inner .nav-tabs>li>a:focus{
  color:#000;
  width:100%;
  background:transparent;
  border:1px solid transparent;
  border-radius: 2px;
}
.nav-inner .nav-tabs>li.active>a {
  border: 1px solid #ccc;
  border-bottom:1px solid #fff;
}

@media (max-width:768px){
  .nav-tabs{
    margin-bottom:15px;
    background:transparent;
    border-radius: 2px;
  }
  .nav-tabs>li>a, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus{
    background-color:#E31937 !important;
    margin:2px;
  }
  .nav-tabs>li.active>a{
    background:#F2A200 !important;
    margin:2px;
  }
  .nav-vertical .nav-tabs{
    padding:0;
    border-radius: 2px;
    border-bottom:0;
  }
  .nav-vertical .nav-tabs li{
    display:block;
    float:left;
    width:auto;
    background:transparent;
  }
  .nav-vertical .nav-tabs>li>a,
  .nav-vertical .nav-tabs>li.active>a,
  .nav-vertical .nav-tabs>li>a:hover,
  .nav-vertical .nav-tabs>li>a:focus{
    background:#E31937;
    width:auto;

  }
}

/* Table */

.table.table-basic {
  background-color:#fff;
}
.table.table-basic thead{
  color:#333;
}
.table.table-basic th{
  border-color:#991F3D;

}
.table.table-basic td{
  border-bottom:1px solid #ccc;
}

.table.table-cherry {
  background-color:#fff;
}
.table.table-cherry thead{
  background: #E31937;
  color:#fff;
}
.table.table-cherry th{
  border-color:#F2A200;

}
.table.table-cherry td{
  border-bottom:1px solid #ccc;
}

.table.table-form>tbody>tr>td{
  vertical-align: top;
}
.table.table-form>tbody>tr>td input,
.table.table-form>tbody>tr>td textarea{
  padding:10px !important;
  background-color: #fafafa!important;
  border: 1px solid #e3e3e3 !important;
  border-radius: 4px !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05) !important;
  transition: border-color 0.3s;
  line-height: 1.5 !important;
}
.table.table-form>tbody>tr>td textarea{
  min-height:48px;
  margin:0 !important;
}
.table.table-form>tbody>tr>td input:hover,
.table.table-form>tbody>tr>td textarea:hover{
}
.table.table-form>tbody>tr>td input:focus,
.table.table-form>tbody>tr>td textarea:focus{
  background:#f6f6f6 !important;
}
.table.table-form>tbody>tr>td input[type=number]::-webkit-inner-spin-button, 
.table.table-form>tbody>tr>td input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}
.table.table-form>tbody>tr>td .actions{
  padding:0 10px;
  text-align: center;
}
.table.table-form>tbody>tr>td .actions a{
  font-size:16px;
  cursor:pointer;
}
.table.table-form>tbody>tr>td .actions a + a{
  margin-left:5px;
}

/* PAGES */

/* Page Elements */


/* ActionBar */

#ActionBar{
  background-color:#fff;
  color:rgba(0, 0, 0, 0.87);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  margin-bottom:25px;
}

#ActionBar .nav-tabs{
  margin-bottom:0;
  background:transparent;
}

#ActionBar #editProfileButton,
#ActionBar #saveProfileButton,
#ActionBar #searchFilterButton{
  display: inline-block;
  margin:8px 0;
}

#ActionBar h1{
  line-height: 50px;
  font-size:25px;
}

.overActionBar{
  margin-top:-55px;
}

@media (max-width:768px){
  .editCvPage,
  .viewCvPage,
  .searchCvPage{
    margin-top:25px;
  }
}

/* Login */
.loginPage .loginBody{
  text-align:center;
  margin-top: 50px;
  min-height: calc(100vh-(64+70))
}

.loginPage .loginBody .paper{
  display: inline-block;
  padding:25px 35px;
  text-align: left;
  max-width:700px;
  min-width: 400px;
}

.loginPage .buttonRow{
  margin: 0 -10px;
  text-align: center; 
}

@media (max-width:768px){
  .loginPage .loginBody{
    margin-top:25px;  
  }
  .loginPage .loginBody .paper{
    min-width: 0px;
  }
}

/* CV Header */
.cvHeader{
  position: relative;
  min-height:50px;
  border-left:50px solid #E31937;
}
.cvHeader .headerIcon{
  position: absolute;
  z-index: 100;
  top:0;
  left:-50px;
  line-height: 50px;
  width:50px;
  font-size:25px;
  text-align: center;
  color:#fff;
  margin-right:15px;
}

@media (max-width:768px){
  .cvHeader{
    border-left:50px solid #E31937;
  }
  .cvHeader .headerIcon{
    left:-50px;
    width:50px;
    line-height:50px;
    font-size:25px;
  }
}

/* CV Edit Page */
.editCvPage .editRow{
  padding: 5px 15px;
}
.editCvPage .editRow + .editRow{
  border-top: 1px solid #ccc;
}
.editCvPage .editRow .deleteActionButton{
  margin-top:20px;
  display: inline-block;
  color:#fff;
  background-color: #E31937;
  cursor: pointer;
  font-size:25px;
  line-height:40px;
  width:40px;
  text-align:center;
  border-radius: 2em;
}
.editCvPage .editCol{
  padding:0 15px;
}
/* CV View page */

.viewCvPage .tableToggle{
  float: right;
}
.viewCvPage .tableToggle .fa{
  transition: transform 0.3s;
}
.viewCvPage .tableToggle[aria-expanded=false] .fa{
  transform: rotate(-90deg)
}

.viewCvPage #InfoTable table td,
.viewCvPage #InfoTable th{
  border-top:none;
  border-bottom: 1px solid #ccc;
}
.viewCvPage #InfoTable table th{
  color:#E31937;
}

@media (max-width:768px){
  .viewCvPage .nav-tabs{
    margin-top:20px;
  }

  .viewCvPage .tab-content .tab-header{
    display: none;
  }
}

.viewCvPage input.profileField{
  display: inline-block;
  width:100%;
  font-size:14px;
  padding:7px 12px;
  border:none;
  border-bottom:1px solid #ccc;
}

/* CV Search Page */

.searchCvPage .searchFilter{
  padding:15px;
}

.searchCvPage #filterBox{
  margin:-25px 0 25px;
}

.searchCvPage #searchTags{
  padding:10px 0 15px;
  margin-top:-10px;
}
.searchCvPage #searchTags .badge,
.searchCvPage #searchTags .badge a{
  background:#fff;
  color:#777;
}
.searchCvPage #searchTags .badge + .badge{
  margin-left:5px;
}
.searchCvPage #searchTags .badge.badge-delete{
  cursor: pointer;
}