* {
    box-sizing: border-box;
}

.row{

  margin-right: 0px !important;
}

.row::after {
    content: "";
    clear: both;
    display: table;
    margin-right: 0px !important;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body {
  margin: 0;
  padding: 0;
  font-family: arial ;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.loginForm {
   width:500px;
   margin: 0 auto;
}

.AppBarHeader{
    width: 100% !important;
    /* margin-left: 5% !important; */
    padding-left: 4.5% !important;
    /* background-color: #ffffff !important; */
}

.CvNav{
  width:500px;
  margin: 0 auto;
}

/* CV Edit page Begins */

 .EditCVPage{
  float: left;
  width: auto;
  margin-left: 5%;
}

/* CV Edit page Ends */

/* CV View page */

.CvPretty{
  width:500px;
  margin: 0 auto;
}

.CvSummary{

  text-indent:50px;
  letter-spacing: 2px;
  text-align:justify;

}


.CvViewSkills{
  text-indent:50px;
  letter-spacing: 2px;
  text-align:justify;
  padding: 6px;

}

.CvViewQualifications{
  text-indent:50px;
  letter-spacing: 2px;
  text-align:justify;
  padding: 6px;
}


.CvViewProjects{

}
